@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
   background-color: #0a0a0a; 
   padding: 1em 12em;
}

/* NAVEGATION BAR*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 1.5em;
}

#berserk-logo{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

a{
    color:#bd1701;
}

a:hover{
    color:#f9faf8
}

/* WELCOME SECTION*/

.welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}

.text{
    width: 30vw;
}

.text h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.text p{
    font-size: 18px;
    color:#e4e7eb;
}

.welcome img{
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.sign-up{
    margin: 10px 0;
    padding: 7px 3px;
    width: 120px;
    font-size: 17px;
    font-weight: bold ;
    background-color: #bd1701;
    border: none;
    border-radius: 8px;
}

/* MAIN SECTION */

main h1{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #0a0a0a;
}

.cards-container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 30px;
}


.img-container{
    width: 150px;
    height: 150px;
    border:#0a0a0a solid 5px;
    border-radius: 10px;
}

.quote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh 25vw;
    background-color: #e5e7eb;
    
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.autor{
    margin: 10px;
    align-self:flex-end;
    font-weight: bold;
    font-size: 25px;
}